* {
    padding: 0;
    margin: 0;
    
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: 	#787878 ;
}
.header {/*最顶部的框*/
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #4F4F4F;
    position: fixed;
    background: #FFFFFF;
    top: 0;
    overflow: hidden;
    z-index: 9999;
}

.identification{/*标识*/
	float: left;
	font-size: 25px;
	padding-left: 80px;
	padding-top: 10px ;
	padding-bottom: 10px;
}


.loginRegister {/*登录注册*/
    float: right;
}
.loginRegister li {/*登录注册链接*/
    padding-top: 30px;
    float: left;
    font-size: 12px;
    margin-right:75px;
    font-weight: bolder;
    font-family: 黑体;
}

.image{/*头像*/
    height: 50px;
    margin-top: 4px;
    margin-right: 7px;
    display: inline-block;
    float: left;
}
.image img{/*头像图片*/
    width: 50px;
    height: 50px;
    border-radius: 3px;
}
.userName{/*用户名*/
    width: 50px;
    height: 25px;
    display: inline-block;
    float: left;
    margin-right:30px ;
    margin-top: 20px;
    
}
.outline{/*退出登录*/
    width: 70px;
    height: 25px;
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
    float: left;
}
.mainPage{/*主页面*/
	width: 100%;
	height: 100%;
    background-color:  #FFFFFF; 
	display: inline-block;
}

.leftMain{/*左边框*/
	background-color: #2B333E;
	width: 15%;
    top: 60px;
	height: 100%;
	padding-top: 50px;
	font-size: 18px;
	font-family: 隶书;
	display: inline-block;
	float:left;
     position: fixed;
}
.leftMain li {
    float: left;
    width: 100%;
    line-height: 50px;
    text-align: center;
    vertical-align:middle;

}


 .leftMain  li:hover{
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
 }
.homepageOn {
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
}
.projectManagementOn {
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
}
.interfaceManagementOn {
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
}
.qUsecaseManagementOn {
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
}
.testPlanOn {
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
}
.aboutUsOn{
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
}

.main{/*主要内容*/
	width: 70%;
	height: 100%;
	float:left; 
	display: inline-block;
    line-height: 25px;
    margin: 80px 5% 2% 18%;

    padding: 25px;
    background: #FFFFFF; 
}
.about{/*关于我们*/
    margin-top: 20px;
    height: 605px;
}
.aboutIMG1{
    width: 100px;
    height: 100px;
}
.h1{
    border-bottom: 2px solid #F2F2F2;
    padding-bottom: 8px;
}
.h2{
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 5px;
    margin-top: 5px;
}


