* {
    padding: 0;
    margin: 0;
    
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: 	#787878 ;
}
table#b{
border-collapse:collapse;
}
#b tr td
{border:1px solid black;}
.header {/*最顶部的框*/
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #4F4F4F;
    position: fixed;
    background: #FFFFFF;

}

.identification{/*标识*/
	float: left;
	font-size: 25px;
	padding-left: 80px;
	padding-top: 10px ;
	padding-bottom: 10px;
}


.loginRegister {/*登录注册*/
    float: right;
}
.loginRegister li {/*登录注册链接*/
    padding-top: 30px;
    float: left;
    font-size: 12px;
    margin-right:75px;
    font-weight: bolder;
    font-family: 黑体;
}

.image{/*头像*/
    height: 50px;
    margin-top: 4px;
    margin-right: 7px;
    display: inline-block;
    float: left;
}
.image img{/*头像图片*/
    width: 50px;
    height: 50px;
    border-radius: 3px;
}
.userName{/*用户名*/
    width: 50px;
    height: 25px;
    display: inline-block;
    float: left;
    margin-right:30px ;
    margin-top: 20px;
    
}
.outline{/*退出登录*/
    width: 70px;
    height: 25px;
    display: inline-block;
    margin-right: 30px;
    margin-top: 20px;
    float: left;
}
.mainPage{/*主页面*/
	width: 100%;
	height: 100%;
    background-color: #FFF;
	display: inline-block;
}

.leftMain{/*左边框*/
    background-color: #2B333E;
    width: 15%;
    top: 60px;
    height: 100%;
    padding-top: 50px;
    font-size: 18px;
    font-family: 隶书;
    display: inline-block;
    float:left;
     position: fixed;
}

.leftMain li {
    float: left;
    width: 100%;
    line-height: 50px;
    text-align: center;
    vertical-align:middle;

}


 .leftMain  li:hover{
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
 }
.HomePageBehindOn {
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
}
.projectManagementBehindOn {
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
}
.interfaceManagementBehindOn {
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
}
.qUsecaseManagementBehindOn {
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
}
.testBehindOn {
    color: #ccc;
    background:#252C35;
    border-radius: 3px;
}


.main{/*主要内容*/
    width: 70%;
    height: 100%;
    float:left; 
    display: inline-block;
    line-height: 25px;
    margin: 5% 5% 5% 18%;

    padding: 25px;
    background: #FFFFFF;
}

.addButton{
    width: 80px;
    height: 25px;
    background-color:#1DC5A3;
    margin:10px;
    border: 1px solid #FFFFFF;
}

.addPicture{
    width: 15px;
    height: 15px;
    padding-top:3px;
    display: inline-block;
    float:left;

}
.addWord{
    margin-left:2px;
    padding-top:2px;
    display: inline-block;
    float:left;
    color:#FFFFFF;
}
.tableBody{
    margin-top:15px;
}
.tables{
	text-align: center;
}
.tableth1{
    width: 100px;
    height: 30px;
}
.tableth2{
    width: 190px;
    height: 30px;
}
.tableth3{
    width: 150px;
    height: 30px;
}
.tableth4{
    width: 130px;
    height: 30px;
}
.tableth5{
    width: 190px;
    height: 30px;
}
.tableth6{
    width: 130px;
    height: 30px;
}
.tableth7{
    width: 100px;
    height: 30px;
}
